
.style1 {font-family: ProjectMedium}
.style3 {font-family: "AR ESSENCE"}

/*Eric Meyer's based CSS tab*/

#tablist{
padding: 3px 0;
margin-left: 0;
margin-bottom: 0;
margin-top: 0.1em;
font: bold 12px Verdana;
color:#000000;
}

#tablist li{
list-style: none;
display: inline;
margin: 0;
}

#tablist li a{
text-decoration: none;
padding: 3px 0.5em;
margin-left: 3px;
border: 1px solid #778;
border-bottom: none;
background: white;
color: #4D4D4D;
}

#tablist li a:link, #tablist li a:visited{
color: #4D4D4D;
}

#tablist li a:hover{
color: #B51109;
background: #C1C1FF;
border-color: #227;
}

#tablist li a.current{
background: lightyellow;
}

.dashedborder{background-attachment:fixed;
border-color:#CCCCCC;
border-bottom-color:#CCCCCC;
border-left-color:#CCCCCC;
border-right-color:#CCCCCC;
border-right-style:dotted;
border-bottom-style:dashed;
border-top-style:dotted;
border-left-style:dotted;
text-align:left;
}
/* menu */
#menu {
	clear: both;
	background: #B51109 url(menubg.gif) repeat-x;
	height: 30px;
	margin: 0;
	font: bolder 1.2em/30px Tahoma, Verdana, Arial, Sans-Serif;		
}
#menu ul{
	margin: 0; padding: 0 0 0 8px;
}
#menu ul li {
	float: left;
	list-style: none;		
	border-right: 1px solid #FFFFFF;
}
#menu ul li a {
	display: block;
	text-decoration: none;	
	padding: 0 15px;
	color: #FFF;	
}
#menu ul li a:hover {
  	color: #333;	
	background: url(menu-hover-bg.gif) repeat-x;
}
#menu ul li#current a {
	color: #333;
	background: url(menu-current-bg.gif) repeat-x;	
}





/*Bottom Menu*/
#Bmenu {
	clear: both;
	/*background: #CCCCCC; url(menubg.gif) repeat-x;*/
	height: 20px;
	margin: 0;
	font: 1em/20px Arial, Sans-Serif;
	text-align:center;
	background-position:center;
	margin-left:270;
		
}
#Bmenu ul{
	margin: 0; padding: 0 0 0 8px;
}
#Bmenu ul li {
	float: left;
	list-style: none;		
	border-right: 1px solid #FFFFFF;
}
#Bmenu ul li a {
	display: block;
	text-decoration: none;	
	padding: 0 10px;
	color: #4D4D4D;
	text-decoration:underline;	
}
#Bmenu ul li a:hover {
  	color: #CCCCCC;
	text-decoration:none
	
}
#Bmenu ul li#current a {
	color: #4D4D4D;

}
/*---------------*/
.boldText1{
font: bolder 1.3em/40px Arial, Helvetica, sans-serif;
}

.dottedBord
{
border-style:dotted;
border-color:#CCCCCC;
}
